name: Author Component Definition
on:
  push:
    branches:
      - main
    paths:
      - compliance/**

permissions: {}

jobs:
  validate:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install Trestle
        run: pip install compliance-trestle

      - name: Validate OSCAL
        run: cd compliance/ && trestle validate -a
