name: Author Component Definition
on:
  push:
    branches:
      - main
    paths:
      - compliance/**

permissions: {}

jobs:
  validate:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Install Trestle
        run: pip install compliance-trestle

      - name: Validate OSCAL
        run: cd compliance/ && trestle validate -a
